* {
  box-sizing: border-box;
}
.Footer {
  margin: 0 auto;
}
.Footer a {
  font-weight: bold;
  text-decoration: none;
  color: rgba(248, 245, 245, 0.918);
}
.Footer small a {
  font-family: "Pattaya", sans-serif;
  /* color: black; */
}
.Footer a:hover {
  text-decoration: underline;
  background-color: rgb(250, 250, 250);
  color: black;
}
.Footer span {
  display: none;
}
.Footer button[type="submit"] {
  /* border: none; */
  border: none;
  background: rgba(238, 234, 234, 0);
  padding: 0.15% 0.5%;
  /* border-bottom: 1px solid rgb(117, 31, 0); */
  margin: 0.5%;
}
.Footer small {
  /*position: relative;
  text-align: center;
  left: 0;
  bottom: 0%;
  width: 100%;*/
  color: white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.685);
}
@media screen and (max-width: 900px) {
  .Footer span {
    display: initial;
    margin-top: 0px;
  }
  .Footer button[type="submit"] {
    width: 15%;
    padding: 1% 0%;
    background: rgba(0, 0, 0, 0.01);
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(153, 152, 152);
    color: rgb(5, 5, 5);
    border-radius: 5px;
    margin: 0.5%;
    font-weight: bold;
  }
  em {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .Footer {
    display: none;
  }
  em {
    display: none;
  }
}
