* {
  box-sizing: border-box;
}
.Footer {
  margin: 0 auto;
  /* background-color: rgb(95, 160, 151);
  color: white; */
}
.Footer a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Footer a:hover {
  text-decoration: underline;
  color: rgb(32, 31, 31);
}
.Footer span {
  display: none;
}
.Footer button[type="submit"] {
  /* border: none; */
  border: none;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.15% 0.5%;
  /* border-bottom: 1px solid rgb(117, 31, 0); */
  margin: 0%;
}
@media screen and (max-width: 900px) {
  .Footer span {
    display: initial;
    margin-top: 0px;
  }
  .Footer button[type="submit"] {
    width: 15%;
    padding: 1% 0%;
    background: rgba(0, 0, 0, 0.01);
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(31, 31, 31);
    color: rgb(5, 5, 5);
    border-radius: 5px;
    margin: 1%;
    font-weight: bold;
  }
}
