* {
  box-sizing: border-box;
}
.Footer {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
}
.Footer a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.Footer a:hover {
  text-decoration: underline;
  color: black;
}
