@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
}
.About,
.Cart,
.Product,
.HomePage,
.Login,
.SignUp,
.Page404 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Page404 {
  flex-direction: column;
  position: relative;
  margin: 10% auto;
}
