* {
  box-sizing: border-box;
  margin: 0 auto;
}
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.SignUp,
.Login,
.Payments,
.Product,
.Cart,
.About,
.HomePage{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}