* {
  box-sizing: border-box;
  margin: 0 auto;
}
.Footer p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footerLinks {
  position: fixed;
  left: 0;
  bottom: 3%;
  width: 100%;
  text-align: center;
}
.About,
.Cart,
.Product,
.HomePage,
.Login,
.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
}
